!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bootstrap Theme Company Page
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    %br/
    .container
      .row
        .device-new-form
          %h2 Sign up
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            .form-group
              = f.label :email, class: 'col-sm-12 control-label'
              .col-sm-6
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "please give valid email id"
                %p.error= show_errors(@user, :email)
            .form-group
              = f.label :password, class: 'col-sm-12 control-label'
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              .col-sm-6
                = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "please give password for your account"
                %p.error= show_errors(@user, :password)
            .form-group
              = f.label :password_confirmation, class: 'col-sm-12 control-label'
              %br/
              .col-sm-6
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "please write confirmation password"
                %p.error= show_errors(@user, :password_confirmation)
            .form-group
              = f.label "Username", class: 'col-sm-12 control-label'
              %br/
              .col-sm-6
                = f.text_field :username, autocomplete: "off", class: 'form-control', placeholder: "please enter User name"
                %p.error= show_errors(@user, :username)
            .form-group
              = f.label "firstname", class: 'col-sm-12 control-label'
              %br/
              .col-sm-6
                = f.text_field :firstname, autocomplete: "off", class: 'form-control', placeholder: "please enter First name"
                %p.error= show_errors(@user, :firstname)
            .form-group
              = f.label "lastname", class: 'col-sm-12 control-label'
              %br/
              .col-sm-6
                = f.text_field :lastname, autocomplete: "off", class: 'form-control', placeholder: "please enter Last Name"
                %p.error= show_errors(@user, :lastname)
            .form-group
              = f.label :image, class: 'col-sm-12 control-label'
              .col-sm-6
                = f.file_field :image
            .form-group
              = f.label "Phone number", class: 'col-sm-12 control-label'
              %br/
              .col-sm-6
                = f.text_field :phone, autocomplete: "off", class: 'form-control', placeholder: "please enter phone number"
                %p.error= show_errors(@user, :phone)
                %br
                = f.submit "signup", :class =>"btn btn-primary"
                %br
                %br
                = link_to "Login",new_user_session_path, :class =>"btn btn-success"
